/* Existing styles */
body {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }
    
  .tabs ul {
    list-style-type: none;
    padding: 0;
  }
  
  .tabs ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .tabs ul li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  /* Styling for Home and Search tabs */
  .tabs ul li span {
    color: white;
    text-decoration: none;
  }
  
  .tabs ul li:hover span {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .tab.home:hover span,
  .tab.search:hover span {
    color: white;
    cursor: pointer; /* Change color on hover for Home and Search tabs */
  }
  .tab-search{
    color:gray
  }
 .tab-search:hover{
    color:white;
    cursor: pointer;
 }
  .spotify-logo {
    border-radius: 20px;
  }
  
  .card {
    background-color: #121212;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin: 20px;
  }
  .card-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  
  .library-img {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    filter: grayscale(100%);
    background-color: transparent; /* Convert to gray */
  }
  .library-img,.library-text:hover{
    cursor: pointer;
  }
  .library-text {
    color: gray;
    margin-left: 10px; /* Add space between image and text */
    flex-grow: 1; /* Allow the text to grow and take up available space */
  }
  
  .plus-icon {
    color: gray;
    font-size: 26px;
    padding-right: 30px; /* Adjust size as needed */
  }
  .plus-icon:hover{
    cursor: pointer;
  }

  /* 2nd card gray color
   */

   .card-second{
    background-color:#242424 ;
    color:white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
   }


   button{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
  }
  button:hover{
  cursor: pointer;

}
   h4{
    color:'white';
   }
   h5{
    color:gray;
   }

.footer{
  margin-top: 130px;
  margin-bottom: 30px;
  margin-left: 5px;
}
   .footer ul{
    list-style-type: none;
    padding: 0;
    display: flex;
   }
   .footer ul li {
    color: #6c6c6c;
    font-size: 12px; /* Set the font size smaller */
    margin-right: 10px; /* Add some spacing between list items */
  }

  .language{
    width: fit-content;
    border:1px solid gray;
    border-radius: 70px;
    padding: 5px;
    justify-content: center;
    text-align: center;
  }
  .language:hover{
    border:1px solid white;
    cursor: pointer;
  }

  .flex-container {
    display: flex;
    /* margin-top: 50px; */
    
  }
  
  .icon-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    padding-right: 10px;
  }
  
  
  .flex-container ul {
    margin-right: 150px; /* Adjust spacing between ul elements as needed */
  }
  
  .flex-container ul li {
    list-style: none;
    margin-bottom: 10px; /* Adjust spacing between li elements as needed */
  }
 .playlist-items{
  display: flex;
  margin-right: -20px;
  margin-left: 20px;
 }


.hide-card {
  display: flex;
  flex-wrap: wrap;
  margin-top:20px /* Allow items to wrap to new rows */
}

.playlist-items {
  display: flex;
  margin-right: 16px;
  width: 155px;
  position: relative;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.playlist-items:hover .playlist-content {
  background-color: #373333;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  cursor: pointer;
}

.playlist-content {
  position: relative;
  width: 150px; /* Fixed width for each item */
}
.play-icon {
  position: absolute;
  top: 88%; /* Align vertically */
  left: 78%; /* Align horizontally */
  transform: translate(-50%, -50%); /* Center the icon */
  display: none; /* Initially hide the icon */
}

.playlist-items:hover .play-icon {
  display: block; /* Show the icon on hover */
}

.playlist-card{
  background-color: #121212;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin: 20px;
}


li:hover{
  text-decoration: underline;
  color: gray;
  cursor: pointer;
}
 
.playlist-detail{
  background: linear-gradient(135deg, #3d1805, #000000);
  min-height: 100px;
  padding: 20px;
}
h1{
  font-size: 6rem;
  white-space: nowrap;
  margin:0;
}
.css-1ygcj2i-MuiTableCell-root , .css-1ex1afd-MuiTableCell-root{
  color:gray;
}
.css-1ex1afd-MuiTableCell-root{
  padding:0px;
  line-height: 10px;
}
.MuiTableCell-root {
  border: none;
}
.css-15wwp11-MuiTableHead-root{
  border-bottom: 1px solid gray;

}
.playlist-album-table{
  background: linear-gradient(to top, black, #3d1805);
}